.ficheLogement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}
.navig {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90vw;
}

.titreLogement {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.titre-nom {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titre-nom h2 {
  font-size: 36px;
  font-weight: 500;
}

.titre-nom p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.nomLogement {
  align-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.heberger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.heberger h3 {
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.heberger img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.nameRating {
  display: flex;
  flex-flow: row nowrap;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.descript-epuip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.description,
.equipements {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 2rem;
  width: 100%;
}

.description p,
.equipements ul {
  background-color: #f6f6f6;
  font-size: 18px;
  color: #ff6060;
  height: auto;
  padding: 30px 10px;
  font-weight: 400;
  display: list-item;
  list-style: none;
}

.equipements li {
  font-weight: 400;
  padding: 2px;
  margin-left: 20px;
}

.tag-evaluation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.tags {
  display: flex;
  width: auto;
}
