.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 68px;
  margin: 4rem 0;
}

.logo {
  width: 75%;
}

.navigation {
  width: 25%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  padding: 10px;
  color: #ff6060;
}

a {
  color: #ff6060;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

.active {
  text-decoration-line: underline;
}
