.photo {
  border-radius: 25px;
  width: 100%;
  height: 415px;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo p {
  color: transparent;
}

.navigation .precedent {
  position: absolute;
  left: 6px;
  width: 45px;
  height: 90px;
  top: 180px;
}
.navigation .suivant {
  position: absolute;
  right: 6px;
  width: 45px;
  height: 90px;
  top: 180px;
}
