.photo {
  margin-bottom: 50px;
  border-radius: 25px;
  height: 415px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo p {
  color: transparent;
}
.precedent,
.suivant {
  margin-top: 10%;
  position: absolute;
  width: 46px;
  height: 79px;
  cursor: pointer;
}
.precedent {
  margin-left: 1.5%;
}
.navigation .suivant {
  margin-left: 86%;
}
